html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.post {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 1300px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-username {
    font-size: 25px;
}

.post-like {
    align-self: end;
}

.post-like-count {
    align-self: end;
}

.search-buttons {
    display: flex;
    gap: 5px;
}

.back-button {
    display: flex;
    justify-content: flex-end;
}